<div class="card-body container bg-white">
    <h2 class="card-title bg-info text-white text-center p-3">Update User</h2>
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="form-group col-6">
            <label for="exampleInputName1">Fullname:</label>
            <input name="fullName" ng-model="form.fullName" type="text" class="form-control" id="exampleInputName1"
                placeholder="Name">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputEmail6">Birth Day:</label>
            <input name="birth" ng-model="form.birthDay" type="date" class="form-control" id="exampleInputEmail6"
                placeholder="BirthDay">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputEmail3">Email address:</label>
            <input name="email" ng-model="form.email" type="email" class="form-control" id="exampleInputEmail3"
                placeholder="Email">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword7">PhoneNumber:</label>
            <input name="phone" ng-model="form.phone" type="text" class="form-control" id="exampleInputPassword7"
                placeholder="phone...">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword5">Username:</label>
            <input name="username" ng-model="form.username" type="text" class="form-control" id="exampleInputPassword5"
                placeholder="Username">
        </div>
        <div class="form-group col-6">
            <label for="exampleInputPassword5">Password:</label>
            <input name="password" ng-model="form.password" type="text" class="form-control" id="exampleInputPassword5"
                placeholder="password">
        </div>
        <div class="form-group col-12">
            <label for="exampleInputCity1">Address</label>
            <input name="address" ng-model="form.address" type="text" class="form-control" id="exampleInputCity1"
                placeholder="Location">
        </div>
        <div class="form-group col-6">
            <label for="exampleSelectGender">Gender:</label>
            <select ng-model="form.typeGender" name="typeGender" class="form-control" id="exampleSelectGender">
                <option value="MALE" ng-selected="{{form.typeGender == 'Male'}}">Male</option>
                <option value="FEMALE" ng-selected="{{form.typeGender == 'Female'}}">Female</option>
            </select>
        </div>
        <div class="form-group col-6">
            <label for="exampleSelectRole">Role:</label>
            <select ng-model="form.typeRole" name="typeRole" class="form-control" id="exampleSelectRole">
                <option value="ADMIN" ng-selected="{{form.typeRole == 'ADMIN'}}">Admin</option>
                <option value="USER" ng-selected="{{form.typeRole == 'USER'}}">User</option>
            </select>
        </div>
        <div class="form-group col-12">
            <label>File upload:</label>
            <div class="input-group">
                <div class="custom-file">
                    <input ng-model="form.image" name="image" type="file" class="custom-file-input"
                        id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
                        onchange="angular.element(this).scope().imageChanged(this.files)">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </div>

        <div class="card-footer text-center">
            <button type="button" class="btn btn-primary" ng-click="create()">Create</button>
            <button type="button" class="btn btn-success" ng-click="update()">Update</button>
            <button type="button" class="btn btn-danger" ng-click="delete(form)">Delete</button>
            <button type="button" class="btn btn-info" ng-click="reset()">Reset</button>
        </div>
    </form>
</div>